.git
.github
.idea
.vscode
node_modules
bootstrap/cache/packages.php
bootstrap/cache/services.php
bootstrap/cache/config.php
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
vendor
.env
.env.backup
.env.example
.phpunit.result.cache
npm-debug.log
yarn-error.log
*.log
tests
docker-compose.yml
README.md
.editorconfig
.gitattributes
.gitignore
phpunit.xml
